files:
  "/etc/nginx/conf.d/elasticbeanstalk/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 443 ssl;
          server_name first-server;

          ssl_certificate /etc/nginx/ssl/your-certificate.crt;
          ssl_certificate_key /etc/nginx/ssl/your-private.key;

          # Other SSL-related settings, like ciphers, etc.
          ssl_protocols TLSv1.2 TLSv1.3;
          ssl_ciphers 'TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384';

          location / {
              proxy_pass http://localhost:5000;  # CHANGE if your app listens on another port
              proxy_http_version 1.1;
              proxy_set_header Connection "";
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }

